@import '../vars.css';

.button {
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    height: 35px;
    padding: 0 11px;
    outline: none;
    border-radius: 0;
    position: relative;

    &_small-text {
        font-size: 11px;
    }

    &_narrow {
        height: 28px;
    }

    &_block {
        display: block;
        width: 100%;
    }

    &_bordered {
        border: 2px solid var(--green);
        color: var(--green);
        background-color: transparent;

        &_active,
        &:hover {
            border: 2px solid var(--green);
            color: var(--white);
            background-color: var(--green);
        }
    }

    &_green-filled {
        color: var(--white);
        background-color: var(--green);
        border: 2px solid var(--green);

        &:hover {
            background-color: #abd467;
            border-color: #abd467;
        }
    }

    &_grey-filled {
        color: rgba(0, 0, 0, 0.5);
        background-color: #e7e6e6;
        border-color: transparent;

        &:hover {
            color: var(--white);
            background-color: var(--green);
        }
    }

    &_transparent {
        background-color: transparent;
        border: none;
    }

    &__counter {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: var(--white);
        color: var(--green);
        font-size: 11px;
        border-radius: 7px;
        height: 14px;
        line-height: 14px;
        display: block;
        padding: 0 4px;
    }

    &_with-counter {
        color: var(--white);
        border: 2px solid var(--green);
        background-color: var(--green);
        padding: 0 19px;

        &:hover {
            background-color: #acd56a;
            border-color: #acd56a;
        }
    }

    &_with-no-counter {
        color: #b3b3b3;
        border: 2px solid #b3b3b3;
        background-color: transparent;
        padding: 0 19px;

        &:hover {
            background-color: #abd467;
            border-color: #abd467;
            color: var(--white);
        }
    }

    & > .icon + &__text {
        display: inline-block;
        margin-left: 10px;
    }

    & > .icon,
    &__text {
        vertical-align: middle;
    }
}
