@import '../vars.css';

.button {
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    height: 35px;
    padding: 0 11px;
    outline: none;
    border-radius: 0;
    position: relative;

    &_small-text {
        font-size: 11px;
    }

     &_narrow {
          height: 28px;
     }

    &_bordered {
        border: 2px solid var(--green);
        color: var(--green);
        background-color: transparent;

        &:hover {
            border: 2px solid var(--green);
            color: var(--white);
            background-color: var(--green);
        }
    }

    &_green-filled {
         color: var(--white);
         background-color: var(--green);
         border: 2px solid var(--green);

        &:hover {
            background-color: #abd467;
            border-color: #abd467;
        }
    }

    &_grey-filled {
        color: rgba(0, 0, 0, 0.5);
        background-color: #e7e6e6;
        border-color: transparent;

        &:hover {
            color: var(--white);
            background-color: var(--green);
        }
     }

    &_transparent {
        background-color: transparent;
        border: none;
    }
     
    &__counter {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: var(--white);
        color: var(--green);
        font-size: 11px;
        border-radius: 7px;
        height: 14px;
        line-height: 14px;
        display: block;
        padding: 0 4px;
    }
}
