@import '../vars.css';

.card {
    margin: 0 37px;
    padding-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;

    &:last-child {
        border-bottom: 0;
    }

    &__header {
        padding: 39px 0 13px 0;
    }

    &__title {
        margin: 0;
        font-weight: normal;
        color: var(--black);
        font-size: 24px;
        border-bottom: 1px dotted;
        display: inline-block;
        line-height: 22px;
        text-transform: uppercase;

        &:hover {
            color: var(--green);
        }
    }

    &__subtotal {
        font-size: 16px;
        color: #848484;
        margin-top: 43px;
        margin-left: 51px;

        &-dropdown {
            margin: 0 7px 0 7px;
        }
     }

    &__amounts{
        margin-top: -8px;

        &-currency {
             font-size: 18px;
             width: 38px;
             color: #404040;
             text-align: left;
             font-weight: normal;
             position: absolute;
             left: 0;
             bottom: -3px;
             margin-left: -54px;
         }

        &-badge {
            color: #d3d3d3;
            position: absolute;
            left: 100%;
            margin-left: 9px;
        }

        &-item {
            margin-left: 38px;
            margin-right: 14px;
            text-align: right;
            border-bottom: 1px solid #f8f8f8;
            position: relative;
             font-size: 24px;
            color: #525252;
            line-height: 36px;
             margin-bottom: -1px;
        }
    }

    &__num {
        text-transform: uppercase;
        color: #848484;
        font-size: 16px;
        margin-top: 3px;
        margin-bottom: 7px;
     }

     &__type {
        color: #c9c9c9;
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: -4px;
      }

      &__details {
        font-size: 16px;
       }

    &__tools {
        margin-top: 2px;

        &-item {
            margin-bottom: 5px;
            width: 220px;
            float: right;

            & .button {
                text-transform: none;
                font-size: 16px;
             }
         }
     }



}
