@import '../vars.css';

.dropdown {
    position: relative;
    height: 35px;

    &:hover {
        background-color: #e7e6e6;

        .dropdown__selected-variant {
            color: #828282;

            &:after {
                background: url(../../images/arrowUpGreen.png) no-repeat 0 0;
            }
        }

        .dropdown__list {
            display: block;
        }
    }

    &_inline {
        display: inline-block;
    }

    &__selected-variant {
        height: 35px;
        line-height: 35px;
        color: var(--black);
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        padding: 0 27px 0 18px;

        &_bordered {
            border: 2px solid var(--green);
            background-color: var(--white);
             padding: 0 31px 0 11px;
         }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 11px;
            top: 50%;
            margin-top: -3px;
            width: 9px;
            height: 5px;
            background: url(../../images/arrowDownGreen.png) no-repeat 0 0;
        }
    }

    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--white);
        border: 1px solid #eff3e8;
        z-index: 100;

        &-item {
            text-align: center;
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #eff3e8;
            cursor: pointer;
            text-transform: uppercase;

            &:last-child {
                border-bottom: 0;
             }

            &:hover {
                background-color: var(--green);
                color: var(--white);
            }
        }
    }


    &_main {
         height: 46px;
         background-color: var(--green);

        &:hover {
            background-color: var(--green);

            & .dropdown__selected-variant {
                  color: var(--white);

                &::after {
                     background: url(../../images/arrowUpWhite.png) no-repeat 0 0;
                }
            }
        }

        & .dropdown__selected-variant {
            color: var(--white);
            padding: 0 45px 0 15px;
            height: 46px;
            line-height: 46px;

            &::after {
                width: 14px;
                height: 8px;
                right: 16px;
                margin-top: -4px;
                background: url(../../images/arrowDownWhite.png) no-repeat 0 0;
            }
        }

        & .dropdown__list {
            border: 2px solid var(--green2);

            &-item {
                padding: 0 15px;
                height: 44px;
                line-height: 44px;
                border-bottom: 2px solid var(--green2);
                text-align: left;

                &:last-child {
                    border-bottom: 0;
                }

                &-static {
                    padding: 0;
                    background-color: var(--white) !important;
                }
            }

        }
    }
}
