@import '../vars.css';

.footer {
    display: flex;
    flex-direction: column;
    height: 98px;
    padding-top: 25px;

    &__copy {
        color: #6f6f6f;
        font-size: 14px;
    }

    &__phone {
        color: #8c8c8c;
        font-size: 24px;
        position: relative;
        padding-left: 30px;
        margin-left: 68px;
        margin-top: -10px;

        &::before {
            display: block;
            content: '';
            width: 25px;
            height: 24px;
            left: 0;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            background: url(../../images/phone.png) no-repeat 0 0;
        }

        &-prefix {
            font-size: 18px;
        }
    }

    &__address {
        color: #9d9c9c;
        font-size: 14px;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__bread-crumbs {
        color: #b3b3b3;
        font-size: 14px;

        &-link {
            text-decoration: underline;
            color: #6f6f6f;

            &:hover {
                color: #96c941;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 719px) {
    .footer__bread-crumbs {
        text-align: center;
        line-height: 23px;
        margin-bottom: 15px;

        &-separator {
            visibility: hidden;
            display: block;
            text-indent: -9999px;
            height: 0;
            overflow: hidden;
        }
    }

    .footer {
        padding-top: 15px;
        height: auto;
    }

    .footer__log .button {
        width: 100%;
        text-align: center;
    }

    .footer__log {
        margin-bottom: 9px;
    }

    .footer__phone {
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 15px;
    }

    .footer__approval-list {
        margin-bottom: 2px;
    }

    .footer__inner-wrapper {
        padding: 0 10px;
    }

    .footer__address {
        order: -1;
        text-align: center;
        margin-bottom: 12px;
    }

    .footer_dropdown {
        display: inline-block;
        margin-bottom: 7px;
    }

    .footer__line {
        display: block;
        text-align: center;
        padding: 0 10px;
    }

    .footer__copy {
        margin-bottom: 10px;
    }

    .footer__menu {
        border-top: 2px solid #e4e8dc;
        display: table;
        width: 100%;
        background-color: var(--green);

        &-text {
            display: block;
            margin: -2px 0 2px;
        }

        &-link {
            display: table-cell;
            text-align: center;
            width: 25%;
            padding: 2px 1px;
            text-decoration: none !important;
            color: #d9f4ac !important;
            text-transform: uppercase;
            font-size: 9px;
            border-right: 1px solid #9ac850;

            &:hover {
                background-color: #acd56a;
         }
        }
    }
}
