@import '../vars.css';

.footer {
    display: flex;
    flex-direction: column;
    height: 98px;
    padding-top: 25px;

    &__copy {
        color: #6f6f6f;
        font-size: 14px;
    }

    &__phone {
        color: #8c8c8c;
        font-size: 24px;
        position: relative;
        padding-left: 30px;
        margin-left: 68px;
        margin-top: -10px;

        &::before {
            display: block;
            content: '';
            width: 25px;
            height: 24px;
            left: 0;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            background: url(../../images/phone.png) no-repeat 0 0;
        }

        &-prefix {
            font-size: 18px;
        }
    }

    &__address {
        color: #9d9c9c;
        font-size: 14px;
    }

    &__line {
        display: flex;
        justify-content: space-between;
         margin-bottom: 4px;
    }

    &__bread-crumbs {
        color: #b3b3b3;
        font-size: 14px;

        &-link {
            tex-decoration: underline;
              color: #6f6f6f;

            &:hover {
                color: #96c941;
                    text-decoration: none;
                }
        }
    }
}
