@import '../vars.css';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 98px;

    &__copy {
        color: #6f6f6f;
        font-size: 14px;
    }

    &__phone {
        color: #8c8c8c;
        font-size: 24px;
        position: relative;
        padding-left: 30px;

        &::before {
            display: block;
            content: '';
            width: 25px;
            height: 24px;
            left: 0;
            position: absolute;
            top: 50%;
            margin-top: -12px;
            background: url(../../images/phone.png) no-repeat 0 0;
        }

        &-prefix {
            font-size: 18px;
        }
    }

    &__address {
        color: #9d9c9c;
        font-size: 14px;
    }

    &__log {
        &-button {
            text-transform: uppercase;
            background-color: #e7e6e6;
            color: #7f7f7f;
            font-size: 14px;
            border-radius: 0;
            border: none;
            padding: 6px 11px 5px;

            &:hover {
                background-color: var(--green);
                color: var(--white);
            }
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bread-crumbs {
        color: #b3b3b3;
        font-size: 14px;

        &-link {
            tex-decoration: underline;
              color: #6f6f6f;

            &:hover {
                color: #96c941;
                    text-decoration: none;
                }
        }
    }
}
