@import '../vars.css';

.header {
    display: flex;
    justify-content: space-between;
    height: 59px;
    align-items: flex-end;
    margin-bottom: 15px;

    &__logo {
        display: block;
        text-decoration: none;
        text-indent: -9999px;
        width: 173px;
        height: 40px;
        background: url(../../images/logo.png) no-repeat 0 0;
    }

    &__separator {
        width: 1px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &__description {
        text-transform: uppercase;
        color: var(--black);
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 35px;
        line-height: 35px;
        padding: 0 17px;
    }

    &__toolbar {
        display: flex;
    }

    &__logo-wrapper {
        width: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
