.layout {
    margin: 0 auto;
}

.layout-company {
    flex-shrink: 0;
    padding-right: 5px;
}

.layout-line {
    display: flex;
}

.layout-content {
    background: var(--white);
}


@media (max-width: 719px) {
    .card__header {
        padding: 17px 0 13px !important;
    }

    .show-on-md-lg {
        display: none;
    }

    .col-sm1 {
        width: 100%;
    }

    .hide-on-sm {
        display: none;
    }

    .card__amounts-item {
        margin-right: 27px !important;
    }

    .card__subtotal {
        margin: 21px -15px 40px !important
    }

    .header.row {
        margin: 0 -5px 11px;
    }

    .card {
        margin: 0 10px !important;
        padding-bottom: 30px !important;
    }

    .card__tools-item {
        width: 100% !important;
    }

    .card__subtotal-text {
        display: block;
        margin-bottom: 11px;
    }

    .card__amounts-currency {
        margin-left: -43px !important;
    }

    .card__details {
        margin-bottom: 28px;
    }

    .footer__line {
        flex-direction: column;
    }

    .dropdown_main {
        z-index: 10;
    }

    .tabs-wrapper {
        padding-top: 11px;
        padding-left: 10px !important;
        clear: both;
    }
    
    .tabs__text {
        display: none;
    }

    .tabs__icon {
        display: inline-block !important;
    }
}

@media (min-width: 720px) and (max-width: 991px) {
    .layout {
        width: 100%;
    }

    .header__toolbar_short {
        display: flex !important;
    }

    .tabs-wrapper {
        padding-top: 11px;
        padding-left: 10px !important;
        clear: both;
    }

    .card__tools-item {
        float: none !important;
    }
    
    .card__amounts-col {
        float: right;
    }

    .card__tools {
        margin-top: 27px !important;
    }

    .card__subtotal {
        margin-left: -30px;
        margin-top: 27px !important;
    }

    .card__subtotal-text {
        display: block;
        margin-bottom: 11px;
    }

    .show-on-md-lg {
        display: none;
    }

    .header__toolbar {
        width: 100%;
    }

    .card {
        margin: 0 10px !important;
    }

    .card__amounts-col{
        margin-right: 8.33333333%;
    }

    .card__amounts-item {
        margin-right: 24px;
    }

    .header.row {
        margin: 0 -5px 6px -5px;
    }

    .row {
        margin: 0 -5px;
    }

    .show-on-sm {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1919px) {
    .layout {
        width: 940px;
    }

    .card__subtotal {
        margin-left: -48%;
    }

    .show-on-sm {
        display: none;
    }
}

@media  (min-width: 1920px) {
    .layout {
        width: 1280px;
    }

    .header__toolbar {
        width: 100%;
    }

    .card__tools-item {
        width: 271px !important;
    }

    .card__subtotal {
        margin-left: -10%;
    }

    .show-on-sm {
        display: none;
    }
}
