.layout {
    margin: 0 auto;
    /*width: 1280px;*/
    width: 940px;
}

.layout-company {
    flex-shrink: 0;
    padding-right: 5px;
}

.layout-line {
    display: flex;
}

.layout-content {
    background: var(--white);
}

@media (min-width: 960px) and (max-width: 1919px) {
    .layout {
        width: 940px;
    }
}

@media  (min-width: 1920px) {
    .layout {
        width: 1280px;
    }

    .header__toolbar {
        width: 100%;
    }

    .card__tools-item {
        width: 271px !important;
    }
}
