.layout {
    margin: 0 auto;
    overflow: hidden;
}

.layout-company {
    flex-shrink: 0;
    padding-right: 5px;
}

.layout-line {
    display: flex;
}

.layout-content {
    background: var(--white);
}

@media (max-width: 719px) {
    .popup__header {
        display: block;

        &-title {
            margin-left: 17px;
        }
    }

    .popup__content dt {
        width: 100%;
        padding-left: 0;
    }

    .popup__content dd {
        margin-left: 0;
    }

    .popup__window {
        padding-left: 10px;
        padding-right: 10px;
    }

    .popup__content .dl-horizontal {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 32px;
    }

    .popup__header-tools {
        margin-top: 25px;
        margin-right: 0;
        display: flex;

        & .button {
            width: 100%;
            text-align: center;
            margin-right: 10px;
            white-space: nowrap;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .card__header {
        padding: 17px 0 13px;
    }

    .show-on-md-lg {
        display: none;
    }

    .col-sm1 {
        width: 100%;
    }

    .hide-on-sm {
        display: none;
    }

    .card__amounts-item {
        margin-right: 27px;
    }

    .card__subtotal {
        margin: 21px -15px 40px;
    }

    .header.row {
        margin: 0 -5px 11px;
        height: 55px;
    }

    .card {
        margin: 0 10px;
        padding-bottom: 33px;
    }

    .layout-company {
        padding: 0 25px;
    }

    .card__tools-item {
        width: 100%;
    }

    .card__subtotal-text {
        display: block;
        margin-bottom: 11px;
    }

    .card__amounts-currency {
        margin-left: -36px;
    }

    .card__details {
        margin-bottom: 28px;
    }

    .footer__line {
        flex-direction: column;
    }

    .dropdown_main {
        z-index: 10;
    }

    .tabs-wrapper {
        padding-top: 11px;
        padding-left: 10px;
        clear: both;
        margin: 0 13px;
    }

    .tabs__text {
        display: none;
    }

    .tabs__icon {
        display: inline-block;
    }
}

@media (min-width: 720px) and (max-width: 991px) {
    .card__header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .layout {
        width: 100%;
    }

    .header__toolbar_short {
        display: flex;
    }

    .tabs-wrapper {
        padding-top: 11px;
        padding-left: 10px;
        clear: both;
    }

    .card__tools-item {
        float: none;
    }

    .card__amounts-col {
        float: right;
    }

    .card__tools {
        margin-top: 27px;
    }

    .card__subtotal {
        margin-left: -50px;
        margin-top: 25px;
    }

    .card__description {
        padding-left: 35px;
        padding-right: 35px;
    }

    .card__subtotal-text {
        display: block;
        margin-bottom: 11px;
    }

    .show-on-md-lg {
        display: none;
    }

    .header__toolbar {
        width: 100%;
    }

    .card {
        margin: 0 10px;
        padding-bottom: 30px;
    }

    .card__amounts-col {
        margin-right: 8.33333333%;
    }

    .footer__phone {
        margin-left: 20px;
    }

    .card__amounts-item {
        margin-right: 24px;
    }

    .header.row {
        margin: 0 -5px 6px -5px;
    }

    .row {
        margin: 0 -5px;
    }

    .show-on-sm {
        display: none;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        height: 51px;
    }
}

@media (min-width: 992px) and (max-width: 1919px) {
    .layout {
        width: 940px;
    }

    .card__subtotal {
        margin-left: -48%;
    }

    .show-on-sm {
        display: none;
    }
}

@media (min-width: 1920px) {
    .layout {
        width: 1280px;
    }

    .header__toolbar {
        width: 100%;
    }

    .card__tools-item {
        width: 271px;
    }

    .card__subtotal {
        margin-left: -18%;
    }

    .show-on-sm {
        display: none;
    }

    .card__amounts {
        width: 92%;
        left: -8%;
        position: relative;
    }
}
