@import '../vars.css';

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;

    &_open {
        overflow: hidden;
    }

    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        &-title {
            font-size: 24px;
            color: var(--black);
            text-transform: uppercase;
        }

        &-tools {
            margin-right: 10px;
            margin-top: 18px;
        }
    }

    &__content {
        margin-top: 15px;

        & dt {
            font-size: 16px;
            color: #a9a9a9;
            font-weight: normal;
            width: 193px;
            text-align: left;
            padding-left: 14px;
        }

        & dd {
            font-size: 18px;
            font-weight: normal;
            margin-left: 193px;
            margin-bottom: 7px;
        }

        & .dl-horizontal {
            margin-top: 36px;
        }
    }

    &__window {
        background: var(--white);
        max-width: 660px;
        margin: 0 auto;
        padding: 27px 47px;
        position: relative;
        z-index: 2000;

        &-wrapper {
            height: 100%;
            overflow: auto;
        }

        &-table {
            display: table;
            width: 100%;
            height: 100%;
        }

        &-cell {
            vertical-align: middle;
            display: table-cell;
        }
    }
}
