@import '../vars.css';

.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;

    &-wrapper {
        padding-left: 0;
    }

     &__item {
        display: table-cell;
        width: 20%;
    }

    &__content {
        background-color: rgba(255, 255, 255, 0.4);
        color: #0c0c0c;
        font-size: 14px;
        text-align: center;
        line-height: 51px;
        height: 51px;
        position: relative;
        box-sizing: content-box;
        margin: 0 0 0 8%;

        .tabs__item:first-child & {
             margin-left: 4%;
         }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -4px;
            left: 0;
            right: 0;
         }

        &:not(&_active):hover {
            background-color: var(--white);
            border-top: 4px solid  var(--white);
            color: var(--green);
        }

        &_active {
            background-color: var(--white);
            color: var(--black);
            border-top: 4px solid var(--green);
            cursor: default;
        }
    }

    &__icon {
        display: none;
    }

     &__help-text {
        background: var(--white);
        text-transform: uppercase;
        color: #acabab;
        font-size: 16px;
        padding: 13px 10px 0;
      }
}