.toggle-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #545454;
    display: none;

    &__button {
        position: relative;
        padding-right: 30px;

        &:hover {
            &::after {
                 border-top-color: var(--white);
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 11px;
            margin-top: -2px;
            top: 50%;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: var(--green);
        }

        &_active {
            background-color: var(--green);
            color: var(--white);

            &::after {
                 margin-top: -8px;
                 border-bottom-color: var(--white);
                 border-top-color: transparent !important;
            }
        }
    }

    &__item {
        padding: 0 14px;
        font-size: 16px;
        cursor: pointer;
    }

    &__item {
        line-height: 34px;
        height: 34px;
        border: 1px solid #d0d0d0;
        border-bottom-width: 0;

        &:hover {
            background-color: var(--green);
            color: var(--white);
        }

        &:last-child {
            border-bottom-width: 1px;
        }
    }

    .toggle-list__button_active + & {
        display: block;
    }
}
