@import "reset.css";
@import "bootstrap.min.css";
@import "common.css";
@import "UI/header.css";
@import "UI/footer.css";
@import "UI/tabs.css";
@import "UI/button.css";
@import "UI/icon.css";
@import "UI/dropdown.css";
@import "UI/input.css";
@import "UI/card.css";
@import "UI/link.css";
@import "UI/toggleList.css";
@import "UI/popup.css";
@import "UI/table.css";
@import "UI/layout.css";
